<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<header>
		<%- include('partials/header.ejs') %>
	</header>
	<section class="hero--about">
		<div class="hero--about__container">
			<h1 class="heading-1 hero--about__container__heading">
				Living healthy matters.
			</h1>	
			<span class="para hero--about__container__span">
				Our specialists aspire to bridge the gap between your benefits plan and the health needs.
			</span>
		</div>
	</section>
	<section class="story">
		<div class="story__container">
			<div class="story__container__col--1">
				<h2 class="heading-2 story__container__col--1__heading">
					You have to begin to tell the story of your life as you now want it to be and discontinue the tales.
				</h2>
				<p class="para story__container__col--1__para">
					Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
				</p>
				<p class="para story__container__col--1__para">
					Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
				</p>
				<p class="para story__container__col--1__para">
					Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
				</p>
				<div class="story__container__col--1__img_wrapper">
					<img src="../assets/images/signature.png" alt="" class="story__container__col--1__img_wrapper__image">
				</div>
			</div>
			<div class="story__container__col--2">
				<div class="story__container__col--2__img_wrapper">
					<img src="../assets/images/femaleDoctor.png" alt="" class="story__container__col--2__img_wrapper__image">
				</div>
			</div>
		</div>
	</section>
	<section class="statistics">
		<video src="../assets/images/The New Stamford Hospital TV Commercial.mp4" loop autoplay muted></video>
		<div class="statistics__container">
			<div class="statistics__container__col--1">
				<h2 class="heading-2 statistics__container__col--1__heading">
					Your wellness builds upon the medical daily.
				</h2>
				<p class="para statistics__container__col--1__para">
					Find your best self here. Discover new ways to live an inspiring life through natural beauty, nutrition and diet, an active lifestyle, and better relationships.
				</p>
				<button class="statistics__container__col--1__button">
					Get a Free Checkup
				</button>	
			</div>
			<div class="statistics__container__col--2">
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						12M
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Happy Patients
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						5K
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Medical Assistants
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						9.8
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Alexa Score
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						3.2K
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Doctors Available
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						45K
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Cure Rate
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						75
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Health Points
					</p>
				</div>
			</div>
			
		</div>
	</section>
	<section class="help">
		<div class="container help__container">
			<div class="help__container__col-1">
				<h2 class="heading-2 help__container__col-1__heading">
					Join our team
				</h2>
				<p class="para help__container__col-1__text">
					We are always looking for good and talented people.
				</p>	
			</div>
			<div class="help__container__col-2">
				<button class="help__container__col-2__button">Submit your CV</button>
			</div>	
		</div>
	</section>
	<footer class="footer">
		<%- include('partials/footer.ejs') %> 
	</footer>
	<div class="border">
	</div>
</body>
</html>
