<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <nav>
        <img class="logoimg" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt = 'logo'>
        <i class="fa fa-bars"></i>
    </nav>
    <div class="section1container">
        <h2>Find Affordable Healthcare</h2>
        <p>Join the thousands of others who have exercised their right to quality healthcare at a price you can afford.</p>
        <form>
            <div class="section1disabled-field">
                <input type="text" name="location" disabled="true" value="Ahmedabad">
            </div>
            <input class = "section1search" type="text" name="search" placeholder="Search for doctors, hospitals and treatment">
            <input type="submit" name="submit" value="Search" class="section1submit">
        </form>
    </div>
    <div class="section2container">
		<h2>How it works</h2>
		<p>Various facilities are provided here. But there is a protocol which needs to be followed so that you may get the service at its best.</p>
		<div class="section2grid">
			<div class="section2list">
				<div class="section2list-item">
					<h2>01</h2>
                    <h2 class = 'section2option'>Fix Consulation</h2>
                    <div class="section2image_and_para">
                        <img src="../assets/images/img1.png">
                        <h2>Fix Consultation</h2>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>				
                    </div>
				</div>
				<div class="section2list-item">
					<h2>02</h2>
					<h2 class = 'section2option'>Upload Medical Reports</h2>
				</div>
				<div class="section2list-item">
					<h2>03</h2>
					<h2 class = 'section2option'>Consult with doctor</h2>
				</div>
				<div class="section2list-item">
					<h2>04</h2>
					<h2 class = 'section2option'>Fix Surgery</h2>
				</div>
				<div class="section2list-item">
					<h2>05</h2>
					<h2 class = 'section2option'>Hospital sent estimates</h2>
				</div>
				<div class="section2list-item">
					<h2>06</h2>
					<h2 class = 'section2option'>Payment</h2>
				</div>
				<div class="section2list-item">
					<h2>07</h2>
					<h2 class = 'section2option'>Surgery Completed</h2>
				</div>
			</div>
			
		</div>
	</div>
    <div class="section3container">
		<h1>World class expert doctors!</h1>
		<p>
			The University of Texas Southwestern Medical Center has long been a world-renowned research hospital. But until the '80s, you couldn't go there. Now, with the addition of the Aston center and Zale Lipshy hospital, UT Southwestern is also a mecca for patient care.
		</p>
		<div class="section3card">
			<img src="../assets/images/image--002.jpg" alt="Duke Sanson">
			<p class="section3name">Duke Sanson</p>
			<p class="section3designation">Neuro Surgeon</p>
			<p class="section3department">Chain Department Of Neurological Surgery</p>
			<p class="section3country">Australia</p>
		</div>
		<div class="section3card">
			<img src="../assets/images/image--004.jpg" alt="Duke Sanson">
			<p class="section3name">Georgia Peter</p>
			<p class="section3designation">Breast Cancer Surgeon</p>
			<p class="section3department">Director, UT Southwest</p>
			<p class="section3country">London</p>
		</div>
		<div class="section3card">
			<img src="../assets/images/image--005.jpg" alt="Duke Sanson">
			<p class="section3name">Charlie Moon</p>
			<p class="section3designation">Cardiac Surgeon</p>
			<p class="section3department">MBBS, MD, FRCP, MRCP, Fellowship</p>
			<p class="section3country">New Delhi, India</p>
		</div>
		<div class="section3card">
			<img src="../assets/images/image--003.jpg" alt="Duke Sanson">
			<p class="section3name">Rose Moon</p>
			<p class="section3designation">Plastic Surgeon</p>
			<p class="section3department">Department of Plastic and Reconstructive Surgery</p>
			<p class="section3country">Dubai</p>
		</div>
	</div>
    <div class="section4container">
		<h2>Featured Medical Treatments</h2>
		<p>
			The hospital provides various medical treatments done by our expert doctors. Your health is our priority.
		</p>
		<div class="section4card section4card-1">
			<h3 class="section4name">Cancer</h3>
			<h3 class="section4number">50+ Specialists</h3>
		</div>
		<div class="section4card section4card-2">
			<h3 class="section4name">Dentistry</h3>
			<h3 class="section4number">50+ Specialists</h3>
		</div>
		<div class="section4card section4card-3">
			<h3 class="section4name">Orthopedics Surgery</h3>
			<h3 class="section4number">50+ Specialists</h3>
		</div>
		<div class="section4card section4card-4">
			<h3 class="section4name">Cardiology Treatment</h3>
			<h3 class="section4number">50+ Specialists</h3>
		</div>
		<div class="section4card section4card-5">
			<h3 class="section4name">Infertility Treatment</h3>
			<h3 class="section4number">50+ Specialists</h3>
		</div>
	</div>

    <div class="section5container">
		<h2>Exclusive Services</h2>
		<p>
			We want you to be comfortable and thus apart from treating your illness, we provide you with other  services that ease you.
		</p>
		<div class="section5grid">
			<div class="section5choice">
				<img src="../assets/images/Icons-01.png">
				<h4>Travel</h4>
			</div>
			<div class="section5choice">
				<img src="../assets/images/Icons-02.png">
				<h4>Food</h4>
			</div>
			<div class="section5choice">
				<img src="../assets/images/Icons-03.png">
				<h4>Accomodation</h4>
			</div>
			<div class="section5choice">
				<img src="../assets/images/Icons-07.png">
				<h4>Labs</h4>
			</div>
			<div class="section5choice">
				<img src="../assets/images/Icons-10.png">
				<h4>Reports</h4>
			</div>
			<div class="section5choice">
				<img src="../assets/images/Icons-06.png">
				<h4>Ambulance</h4>
			</div>
		</div>
	</div>
</body>
</html>
