.container{
    padding: 1rem;
    background-color: #021433;
    color: #cccccc;
    font-size : 20px;
    text-align: center;
}
h2{
    color: white;
}
footer{
    color: #636668;
    font-size: 12px;
}
li{
    list-style-type: none;
}
