html{
    box-sizing: border-box;
}
.container{
    margin: 0;
    padding: 1rem;
    background-color: #021433;
    color: white;
    text-align: center;
}
.card{
    width: 100%;
    max-width: 400px;
    background-color: white;
    color: black;
    margin: 5px;
    padding: 0;
    border-bottom: 0.2rem solid lightblue ;
    display: inline-block;
    text-align: justify;
}
img{
    width: 100%;
}
.name{
    color: navy;
}
p.name{
    padding-left: 0 !important;
}
.card > p{
    line-height: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
}
